$border: gray;
$inputTextColor: #538c43;
$primary: white;
$background: black;
$addButton: #739e2f;
$doneButton: #bcbcbc;
$doneButtonActive: #666666;
$removeButton: #99382f;
$inactive: gray;
$buttonBorder: transparent;